body {
  background-color: #af6f84;

}

article {
  display: inline-block;
  vertical-align: top;
  width: 23%;
  margin-left: 9.5%;
}

h1, h3 {
  font-family: 'Bangers', cursive;
  text-align: center;
  padding: 2px;
}

h3 {
  font-size: 27px;
}

h1 {
  font-size: 37px;
  letter-spacing: 1px;
}
h2 {
font-size: 24px;
font-family: 'Rokkitt', serif;

}

.bottom {
  font-size: 27px;
  margin-top: 80px;
  margin-left: 3%;

}

img {
  width: 200px;
  height: 300px;
  margin-top: 30px;

}
p {
  width: 100%;
  font-size: 17px;
  font-family: 'Rokkitt', serif;
}

.delete {
  width: 130px;
  height: 30px;
  font-size: 17px;
  font-weight: bold;
  background-color: #d3b0bc;
  padding: 1px;
}

.ratings {
  font-size: 20px;
}

input {
  width:20.4%;
  height: 25px;
  display: block;
  margin-left: 42%;
  margin-bottom: 10px;
  font-size: 15px;
  border: 3px solid #764253;
}

textarea {
  margin-left: 42%;
  font-size: 15px;
  border: 3px solid #764253;
}

.add-new button {
  margin-left: 47%;
  width:130px;
  height: 30px;
  margin-top: 10px;
  font-size: 15px;
  border: 3px solid #764253;
  background-color: white;
}
